{% include 'sitio/cabecera.html' %}
<div class="p-5 bg-light">
   <div class="container">
       <h1 class="display-3">Bienvenid@s a la Biblioteca</h1>
       <p class="lead">Aquí encontrarás libros de diferentes géneros para fomentar la lectura</p>
       <hr class="my-2">
       <p class="lead">
           <a class="btn btn-success btn-lg" href="/libros" role="button">Ver libros disponibles</a>
       </p>
   </div> 
</div>
<br>
<div class="row align-items-md-stretch">
    <div class="col-md-6">
        <div
            class="h-150 p-5 text-white bg-primary border rounded-3">
            <h2>Beneficios de la lectura</h2>
            <p>La práctica de la lectura desarrolla la capacidad de observación, atención, concentración, análisis y espíritu crítico, además de generar reflexión y diálogo. Estudios han comprobado que el buen desarrollo de la competencia lectora es uno de los elementos que aumenta la probabilidad de tener un mejor empleo y mejores salarios.</p>
            <a class="btn btn-outline-primary btn-lg" href="https://www.gob.mx/sep/acciones-y-programas/estandares-nacionales-de-habilidad-lectora-importancia-de-la-lectura#:~:text=La%20pr%C3%A1ctica%20de%20la%20lectura%20desarrolla%20la%20capacidad,de%20tener%20un%20mejor%20empleo%20y%20mejores%20salarios." type="button">Más info</button></a>
        </div>
    </div>
    <div class="col-md-6">
        <div
            class="h-100 p-5 text-white bg-primary border rounded-3"> 
            <h2>¿A qué edad es recomendable leer?</h2>
            <p>Apartir de los 6 años en adelante, aunque se han encontrado casos de niños de 4 años que han aprendido a.</p>
            <a class="btn Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then,
                mix and match with additional component themes and more." href="https://www.bbc.com/mundo/vert-fut-61108713" type="button">Más info</button>
        </div>
    </div>
</div>

  <header>
    <!-- place navbar here -->
  </header>
  <main>

  </main>
  <footer>
    <!-- place footer here -->
  </footer>
  {% include 'sitio/pie.html' %}