{% include 'sitio/cabecera.html' %}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Nosotros</h4>
        <p class="card-text">Somos un grupo de personas fanáticos de la lectura, por lo que buscamos fomentar el bello hábito de la lectura para niñ@s, jóvenes, adultos y adultos mayores con la facilidad y accesibilidad de tener toda una biblioteca en la palma de tu mano.</p>
        <img class="card-img-top" src="https://cdn.pixabay.com/photo/2017/01/18/21/18/person-1990906_1280.jpg" alt="Title">
    </div>
</div>

{% include 'sitio/pie.html' %}